body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

/*carousel accueil*/

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slides {
  width: 100%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 100%;
  transition: 2s;
}

.slides input {
  display: none;
}

.slide img {
  width: 100vw;
  height: 100%;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: blue;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -100%;
}
#radio3:checked ~ .first {
  margin-left: -200%;
}
#radio4:checked ~ .first {
  margin-left: -300%;
}

/*Informations générales acceuil*/

.infosGenerales {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titreInfoGenerales {
  font-size: 35px;
  margin: 0;
  padding-top: 3%;
}

.paraTextInfoGenerales {
  margin: 1%;
  line-height: 1.2;
}

.histoire {
  margin-top: 3%;
  padding: 1%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 5px 5px #99ccff;
  border-radius: 10%;
  background-color: #f0f0f0;
  text-align: justify;
  z-index: -1;
}
.climatGeo {
  z-index: -1;
}
.geographie {
  margin-top: 3%;
  margin-left: 3%;
  padding: 1%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 5px 5px #99ccff;
  border-radius: 10%;
  background-color: #f0f0f0;
  text-align: justify;
}

.climat {
  margin-top: 3%;
  margin-left: 3%;
  padding: 1%;
  width: 40%;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 5px 5px #99ccff;
  border-radius: 10%;
  background-color: #f0f0f0;
  text-align: justify;
}

/* RESPONSIVE INFOS GENERALES */

@media (max-width: 1078px) {
  .histoire {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .histoire {
    margin: 3% 0;
    width: 80%;
  }
  .climatGeo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .geographie {
    margin: 3% 0;
    width: 80%;
  }
  .climat {
    margin: 3% 0;
    width: 80%;
  }
}
